---
import { Image } from "astro:assets";
import Base from "@/layouts/Base.astro";
import Cta from "@/layouts/components/Cta.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntry } from "astro:content";
import ContactForm from "@/components/ContactForm.astro";
import Testimonials from "@/components/Testimonials.astro";
import { openLightbox, initializeLightbox } from "@/lib/lightbox";

const homepage = await getEntry("homepage", "index");
const { banner, feature, images, call_to_action } = homepage.data;
---

<Base>
  <!-- banner -->
  <section class="section pb-[50px]">
    <div class="container">
      <div class="row text-center">
        <div class="mx-auto lg:col-10">
          <h1 class="font-primary font-bold">{banner?.title}</h1>
          {
            banner?.content && (
              <p class="mt-4" set:html={markdownify(banner.content)} />
            )
          }

          {
            banner?.image && (
              <Image
                class="mx-auto mt-12"
                loading="eager"
                src={banner?.image}
                width={750}
                height={390}
                alt="OmniReno"
              />
            )
          }
        </div>
      </div>
    </div>
  </section>

  <!-- Features -->
  <section class="section bg-theme-light">
    <div class="container">
      <div class="text-center">
        <h2>{markdownify(feature!.title)}</h2>
      </div>
      <div class="mt-8 grid gap-x-8 gap-y-6 sm:grid-cols-2 lg:grid-cols-3">
        {
          feature!.features.map((item: any, i: number) => (
            <a href={item.link} data-astro-reload>
              <div class="feature-card rounded-xl bg-white p-5 pb-8 text-center">
                {item.icon && (
                  <img
                    class="mx-auto"
                    loading="lazy"
                    alt={item.icon}
                    src={item.icon}
                    width={30}
                    height={30}
                  />
                )}
                <div class="mt-4">
                  <p class="h5" set:html={markdownify(item!.name)} />
                  <p class="mt-3">{item.content}</p>
                </div>
              </div>
            </a>
          ))
        }
      </div>
    </div>
  </section>

  <script>
    import { Swiper } from "swiper";
    import "swiper/css";
    import "swiper/css/pagination";
    import { Autoplay, Pagination } from "swiper/modules";

    // astro:page-load event is fired when the page is loaded
    document.addEventListener("astro:page-load", () => {
      new Swiper(".service-carousel .swiper", {
        modules: [Pagination, Autoplay],
        autoplay: {
          delay: 3000,
        },
        pagination: {
          type: "bullets",
          el: ".service-carousel .pagination",
          clickable: true,
        },
      });
    });
  </script>
  <!-- ./End service -->

  <!-- Images -->
  <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4">
    {
      images!.map((item: string) => (
        <div>
          <div class="cursor-pointer" onclick={`window.openLightbox('${item}')`}>
            {item.endsWith('.mov') || item.endsWith('.mp4') ? (
              <video class="mx-auto w-full h-48 object-cover" controls>
                <source src={item} type="video/mp4" />
                Your browser does not support the video tag.
              </video>
            ) : (
              <Image
                class="mx-auto w-full h-48 object-cover"
                src={item}
                loading="eager"
                width={538}
                height={328}
                alt=""
              />
            )}
          </div>
        </div>
      ))
    }
  </div>

  <div id="lightbox" class="fixed inset-0 bg-black bg-opacity-75 hidden flex items-center justify-center z-50">
    <img id="lightbox-image" src="" alt="" class="max-w-[90%] max-h-[90%] object-contain hidden" />
    <video id="lightbox-video" class="max-w-[90%] max-h-[90%] object-contain hidden" controls></video>
    <button id="close-lightbox" class="absolute top-4 right-4 text-white text-2xl">&times;</button>
  </div>

  <script>
    import { openLightbox, initializeLightbox } from "@/lib/lightbox";

    // Expose the openLightbox function to the global window object
    window.openLightbox = openLightbox;

    document.addEventListener('astro:page-load', () => {
      initializeLightbox();
    });
  </script>

  <Testimonials />
  <!-- Call to Action -->
  <Cta cta={call_to_action} />
  <ContactForm />
</Base>
